@import 'variables';

.app {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  &__logo {
    height: 40vmin;
    pointer-events: none;
    
    @media (prefers-reduced-motion: no-preference) {
      animation: app-logo-spin infinite 20s linear;
    }
  }
  
  &__header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  &__link {
    color: $primary-color;
    text-decoration: none;
    transition: color 0.3s ease;
    
    &:hover {
      color: darken($primary-color, 15%);
    }
  }
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 